[submodule "submodules/gtest"]
	path = submodules/gtest
	url = https://github.com/google/googletest.git
[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "submodules/libmodbus"]
	path = submodules/libmodbus
	url = https://github.com/stephane/libmodbus.git
